doctype 5
html
  include header
  main
    .navbar-fixed.red.lighten-1
      nav
        .nav-wrapper
          .brand-logo.center Moltres Radio
          ul.right
            {% if current_user.is_authenticated %}
            li
              a Hello {{ current_user.username }}
            li
              a(href="/logout") Logout
                i.small.material-icons.left lock_open
            {% else %}
            li
              a(href="/login") Login
                i.small.material-icons.left person_pin
            {% endif %}
    .container
      block content
  include footer
