extends base
block content
  .row
    .col.s12.m12.l12.center-align
      i.large.material-icons volume_up
      h3 Listen Now!
  .row
    .col.s4.m4.l4.center-align
      h4 What is this?
      p
       | An internet radio for the community,
       | by the community!
    .col.s4.m4.l4.center-align
      h4 What's playing?
      p
       | Oh, various things...
    .col.s4.m4.l4.center-align
      h4 How can I contribute?
      p
       | Create an account and record something
       | to play on the radio! Or submit a recording
       | for a longer song.
