extends base
block content
  .row.center-align
    .col.s12
      h3 Registration Complete!
      p Check your email to activate your new account!
  .row.center-align
    .col.s12
      a.waves-effect.waves-light.btn(href="{{ url_for('login') }}") Login
