extends base
block content
  .row.center-align
    h3 Create a New Account
  .row.center-align
    form.col.s12.m12.l12(action="/auth", method="post",id="loginForm")
      .row
        .input-field.col.s5.offset-s3
          input.validate(id="username",type="text",name="username", required="", aria-required="true")
          label(for="username") Username
        .col.s1
          p @flpoly.org
      .row
        .input-field.col.s6.offset-s3
          input.validate(id="password",type="password",name="password", required="", aria-required="true")
          label(for="password") Password
      .row
        .input-field.col.s6.offset-s3
          input.validate(id="verify_password",type="password",name="verify_password", required="", aria-required="true")
          label(for="password") Verify Password
      .row
        .input-field.col.s4.offset-s4
          button.waves-effect.waves-light.btn(type="submit") Register
